.frame-child92 {
  width: 333px;
  height: 70px;
  position: relative;
  background-color: var(--color-darkgreen);
  display: none;
  max-width: 100%;
}
.h21,
.pashas-tent {
  margin: 0;
  width: 147px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.h21 {
  width: 133px;
}
.rectangle-parent18,
.wrapper26 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.wrapper26 {
  height: 28px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
}
.rectangle-parent18 {
  width: 333px;
  background-color: var(--color-darkgreen);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-10xs) var(--padding-xs) var(--padding-9xs);
  max-width: 100%;
}
.screenshot-2024-08-02-at-10498 {
  position: absolute;
  top: 396px;
  left: 24px;
  width: 600px;
  height: 753px;
  object-fit: cover;
}
.sound-icon18 {
  position: absolute;
  top: 99.4px;
  left: 20px;
  width: 44px;
  height: 33.4px;
}
.key-icon26 {
  height: 206.4px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -43.4px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
}
.back12 {
  position: relative;
  display: inline-block;
  min-width: 43px;
  z-index: 3;
}
.key-icons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-67xl) var(--padding-11xl) var(--padding-36xl);
  position: relative;
}
.key-icon27 {
  height: 206.4px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -43.4px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.next10 {
  position: relative;
  display: inline-block;
  min-width: 42px;
  z-index: 2;
}
.key-icons1,
.navigation-keys {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.key-icons1 {
  flex: 1;
  justify-content: flex-end;
  padding: var(--padding-67xl) var(--padding-11xl) var(--padding-36xl);
  position: relative;
  margin-left: -80.2px;
}
.navigation-keys {
  position: absolute;
  top: 0;
  left: 965px;
  width: 324.2px;
  justify-content: flex-start;
}
.screenshot-elements {
  height: 163px;
  width: 1289.2px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-alfa-slab-one);
}
.frame-parent64,
.screenshot-elements-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.screenshot-elements-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frame-parent64 {
  position: absolute;
  top: 736px;
  left: 0;
  width: 1320.2px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-abhaya-libre-medium);
}
@media screen and (max-width: 767px) {
  .h21,
  .pashas-tent {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .h21,
  .pashas-tent {
    font-size: var(--font-size-lg);
  }
}
